###########
# EXAMPLE #
###########

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6
# See hosts(5) for proper format and other examples:
# 192.168.1.10 foo.mydomain.org foo
# 192.168.1.13 bar.mydomain.org bar

#DNS
192.168.1.10 idm01 idm01.aroque.com.br
#Linux123@redhat*01

#TOWER
192.168.1.11 tower01 tower01.aroque.com.br
192.168.1.111 app01 app01.aroque.com.br

#SATELLITE
192.168.1.12 satellite01 satellite01.aroque.com.br

#GITLAB
192.168.1.13 gitlab01 gitlab01.aroque.com.br

#IPAM
192.168.1.14 ipam01 ipam01.aroque.com.br
#admin Linux123@

#ZABBIX
192.168.1.16 zabbix01 zabbix01.aroque.com.br
#Admin zabbix

#APACHE
192.168.1.21 apache01 apache01.aroque.com.br 
192.168.1.22 apache02 apache02.aroque.com.br 
192.168.1.23 apache03 apache03.aroque.com.br 
192.168.1.24 apache04 apache04.aroque.com.br